In [8]:
#To load data into a pandas DataFrame from a source
import pandas as pd

df = pd.read_excel('EU Superstore.xls')
print (df)

      Row ID         Order ID Order Date  Ship Date       Ship Mode  \
0          1  ES-2017-1311038 2017-02-07 2017-02-11  Standard Class
1          2  ES-2017-1311038 2017-02-07 2017-02-11  Standard Class
2          3  ES-2017-1311038 2017-02-07 2017-02-11  Standard Class
3          4  ES-2017-1311038 2017-02-07 2017-02-11  Standard Class
4          5  ES-2017-1311038 2017-02-07 2017-02-11  Standard Class
...      ...              ...        ...        ...             ...
9995    9996  ES-2014-3780358 2014-11-16 2014-11-19     First Class
9996    9997  ES-2015-5371207 2015-01-25 2015-01-29  Standard Class
9997    9998  ES-2015-5371207 2015-01-25 2015-01-29  Standard Class
9998    9999  ES-2015-5371207 2015-01-25 2015-01-29  Standard Class
9999   10000  ES-2015-5371207 2015-01-25 2015-01-29  Standard Class

     Customer ID      Customer Name      Segment     City    State  \
0       AS-10045     Aaron Smayling    Corporate    Leeds  England
1       AS-10045     Aaron Smayling    Corporate    Leeds  England
2       AS-10045     Aaron Smayling    Corporate    Leeds  England
3       AS-10045     Aaron Smayling    Corporate    Leeds  England
4       AS-10045     Aaron Smayling    Corporate    Leeds  England
...          ...                ...          ...      ...      ...
9995    CC-12100    Chad Cunningham  Home Office   Rovigo   Veneto
9996    GB-14575  Giulietta Baptist     Consumer  Hamburg  Hamburg
9997    GB-14575  Giulietta Baptist     Consumer  Hamburg  Hamburg
9998    GB-14575  Giulietta Baptist     Consumer  Hamburg  Hamburg
9999    GB-14575  Giulietta Baptist     Consumer  Hamburg  Hamburg

             Country   Region       Product ID         Category Sub-Category  \
0     United Kingdom    North  OFF-ST-10000988  Office Supplies      Storage
1     United Kingdom    North  TEC-AC-10004144       Technology  Accessories
2     United Kingdom    North  OFF-LA-10001915  Office Supplies       Labels
3     United Kingdom    North  OFF-ST-10004550  Office Supplies      Storage
4     United Kingdom    North  TEC-AC-10004068       Technology  Accessories
...              ...      ...              ...              ...          ...
9995           Italy    South  OFF-BI-10000346  Office Supplies      Binders
9996         Germany  Central  OFF-BI-10002083  Office Supplies      Binders
9997         Germany  Central  OFF-SU-10003211  Office Supplies     Supplies
9998         Germany  Central  TEC-PH-10001664       Technology       Phones
9999         Germany  Central  OFF-AR-10001228  Office Supplies          Art

                                    Product Name   Sales  Quantity  Discount  \
0                         Fellowes Folders, Blue   79.20         3       0.0
1              SanDisk Numeric Keypad, Bluetooth  388.92         7       0.0
2     Avery Legal Exhibit Labels, 5000 Label Set   35.19         3       0.0
3                   Fellowes Folders, Wire Frame   50.94         2       0.0
4                       Memorex Memory Card, USB  307.44         3       0.0
...                                          ...     ...       ...       ...
9995                   Ibico 3-Hole Punch, Clear   59.82         2       0.0
9996           Acco Hole Reinforcements, Economy    6.66         1       0.0
9997                           Acme Ruler, Steel   96.66         6       0.0
9998             Motorola Office Telephone, VoIP  502.95         7       0.0
9999                Stanley Markers, Water Color  152.28         6       0.0

      Profit
0      39.60
1       0.00
2      16.11
3      13.20
4      73.71
...      ...
9995   23.88
9996    0.57
9997   28.98
9998  221.13
9999   50.22

[10000 rows x 20 columns]

In [3]:
#we need install package xlrd for read excel
pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
                                              0.0/96.5 kB ? eta -:--:--
     ----                                     10.2/96.5 kB ? eta -:--:--
     ----                                     10.2/96.5 kB ? eta -:--:--
     ----------------                       41.0/96.5 kB 326.8 kB/s eta 0:00:01
     ------------------------------------   92.2/96.5 kB 521.8 kB/s eta 0:00:01
     -------------------------------------- 96.5/96.5 kB 501.7 kB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

In [6]:
#This method returns the first n rows of the DataFrame.By default, it returns the first 5
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,ES-2017-1311038,2017-02-07,2017-02-11,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,OFF-ST-10000988,Office Supplies,Storage,"Fellowes Folders, Blue",79.20,3,0.0,39.60
1,2,ES-2017-1311038,2017-02-07,2017-02-11,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,TEC-AC-10004144,Technology,Accessories,"SanDisk Numeric Keypad, Bluetooth",388.92,7,0.0,0.00
2,3,ES-2017-1311038,2017-02-07,2017-02-11,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,OFF-LA-10001915,Office Supplies,Labels,"Avery Legal Exhibit Labels, 5000 Label Set",35.19,3,0.0,16.11
3,4,ES-2017-1311038,2017-02-07,2017-02-11,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,OFF-ST-10004550,Office Supplies,Storage,"Fellowes Folders, Wire Frame",50.94,2,0.0,13.20
4,5,ES-2017-1311038,2017-02-07,2017-02-11,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,TEC-AC-10004068,Technology,Accessories,"Memorex Memory Card, USB",307.44,3,0.0,73.71

In [9]:
#This method returns the last n rows of the DataFrame. By default, it returns the last 5 rows
df.tail()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9995,9996,ES-2014-3780358,2014-11-16,2014-11-19,First Class,CC-12100,Chad Cunningham,Home Office,Rovigo,Veneto,Italy,South,OFF-BI-10000346,Office Supplies,Binders,"Ibico 3-Hole Punch, Clear",59.82,2,0.0,23.88
9996,9997,ES-2015-5371207,2015-01-25,2015-01-29,Standard Class,GB-14575,Giulietta Baptist,Consumer,Hamburg,Hamburg,Germany,Central,OFF-BI-10002083,Office Supplies,Binders,"Acco Hole Reinforcements, Economy",6.66,1,0.0,0.57
9997,9998,ES-2015-5371207,2015-01-25,2015-01-29,Standard Class,GB-14575,Giulietta Baptist,Consumer,Hamburg,Hamburg,Germany,Central,OFF-SU-10003211,Office Supplies,Supplies,"Acme Ruler, Steel",96.66,6,0.0,28.98
9998,9999,ES-2015-5371207,2015-01-25,2015-01-29,Standard Class,GB-14575,Giulietta Baptist,Consumer,Hamburg,Hamburg,Germany,Central,TEC-PH-10001664,Technology,Phones,"Motorola Office Telephone, VoIP",502.95,7,0.0,221.13
9999,10000,ES-2015-5371207,2015-01-25,2015-01-29,Standard Class,GB-14575,Giulietta Baptist,Consumer,Hamburg,Hamburg,Germany,Central,OFF-AR-10001228,Office Supplies,Art,"Stanley Markers, Water Color",152.28,6,0.0,50.22

In [7]:
#This attribute returns a tuple representing the dimensions of the DataFrame (number of rows, number of columns)
df.shape

(10000, 20)

In [10]:
#This method provides a concise summary of the DataFrame, including the number of non-null values in each column and the data types of the columns
df.info

<bound method DataFrame.info of       Row ID         Order ID Order Date  Ship Date       Ship Mode  \
0          1  ES-2017-1311038 2017-02-07 2017-02-11  Standard Class
1          2  ES-2017-1311038 2017-02-07 2017-02-11  Standard Class
2          3  ES-2017-1311038 2017-02-07 2017-02-11  Standard Class
3          4  ES-2017-1311038 2017-02-07 2017-02-11  Standard Class
4          5  ES-2017-1311038 2017-02-07 2017-02-11  Standard Class
...      ...              ...        ...        ...             ...
9995    9996  ES-2014-3780358 2014-11-16 2014-11-19     First Class
9996    9997  ES-2015-5371207 2015-01-25 2015-01-29  Standard Class
9997    9998  ES-2015-5371207 2015-01-25 2015-01-29  Standard Class
9998    9999  ES-2015-5371207 2015-01-25 2015-01-29  Standard Class
9999   10000  ES-2015-5371207 2015-01-25 2015-01-29  Standard Class

     Customer ID      Customer Name      Segment     City    State  \
0       AS-10045     Aaron Smayling    Corporate    Leeds  England
1       AS-10045     Aaron Smayling    Corporate    Leeds  England
2       AS-10045     Aaron Smayling    Corporate    Leeds  England
3       AS-10045     Aaron Smayling    Corporate    Leeds  England
4       AS-10045     Aaron Smayling    Corporate    Leeds  England
...          ...                ...          ...      ...      ...
9995    CC-12100    Chad Cunningham  Home Office   Rovigo   Veneto
9996    GB-14575  Giulietta Baptist     Consumer  Hamburg  Hamburg
9997    GB-14575  Giulietta Baptist     Consumer  Hamburg  Hamburg
9998    GB-14575  Giulietta Baptist     Consumer  Hamburg  Hamburg
9999    GB-14575  Giulietta Baptist     Consumer  Hamburg  Hamburg

             Country   Region       Product ID         Category Sub-Category  \
0     United Kingdom    North  OFF-ST-10000988  Office Supplies      Storage
1     United Kingdom    North  TEC-AC-10004144       Technology  Accessories
2     United Kingdom    North  OFF-LA-10001915  Office Supplies       Labels
3     United Kingdom    North  OFF-ST-10004550  Office Supplies      Storage
4     United Kingdom    North  TEC-AC-10004068       Technology  Accessories
...              ...      ...              ...              ...          ...
9995           Italy    South  OFF-BI-10000346  Office Supplies      Binders
9996         Germany  Central  OFF-BI-10002083  Office Supplies      Binders
9997         Germany  Central  OFF-SU-10003211  Office Supplies     Supplies
9998         Germany  Central  TEC-PH-10001664       Technology       Phones
9999         Germany  Central  OFF-AR-10001228  Office Supplies          Art

                                    Product Name   Sales  Quantity  Discount  \
0                         Fellowes Folders, Blue   79.20         3       0.0
1              SanDisk Numeric Keypad, Bluetooth  388.92         7       0.0
2     Avery Legal Exhibit Labels, 5000 Label Set   35.19         3       0.0
3                   Fellowes Folders, Wire Frame   50.94         2       0.0
4                       Memorex Memory Card, USB  307.44         3       0.0
...                                          ...     ...       ...       ...
9995                   Ibico 3-Hole Punch, Clear   59.82         2       0.0
9996           Acco Hole Reinforcements, Economy    6.66         1       0.0
9997                           Acme Ruler, Steel   96.66         6       0.0
9998             Motorola Office Telephone, VoIP  502.95         7       0.0
9999                Stanley Markers, Water Color  152.28         6       0.0

      Profit
0      39.60
1       0.00
2      16.11
3      13.20
4      73.71
...      ...
9995   23.88
9996    0.57
9997   28.98
9998  221.13
9999   50.22

[10000 rows x 20 columns]>

In [11]:
#This method generates descriptive statistics of the numerical columns in the DataFrame, including count, mean, standard deviation, minimum, maximum, and quartile values
df.describe()

            Row ID         Sales      Quantity      Discount        Profit
count  10000.00000  10000.000000  10000.000000  10000.000000  10000.000000
mean    5000.50000    293.808906      3.777300      0.103105     37.282974
std     2886.89568    486.055635      2.203268      0.174782    178.100384
min        1.00000      2.955000      1.000000      0.000000  -3059.820000
25%     2500.75000     49.462500      2.000000      0.000000      1.320000
50%     5000.50000    119.355000      3.000000      0.000000     14.220000
75%     7500.25000    320.708625      5.000000      0.100000     48.510000
max    10000.00000   7958.580000     14.000000      0.850000   3979.080000

In [12]:
#This attribute returns the column labels of the DataFrame
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'City', 'State', 'Country',
       'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name',
       'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [13]:
#This attribute returns the index labels of the DataFrame
df.index

RangeIndex(start=0, stop=10000, step=1)

In [15]:
#This attribute returns the data types of each column in the DataFrame
df.dtypes

Row ID                    int64
Order ID                 object
Order Date       datetime64[ns]
Ship Date        datetime64[ns]
Ship Mode                object
Customer ID              object
Customer Name            object
Segment                  object
City                     object
State                    object
Country                  object
Region                   object
Product ID               object
Category                 object
Sub-Category             object
Product Name             object
Sales                   float64
Quantity                  int64
Discount                float64
Profit                  float64
dtype: object

In [16]:
#This method returns a DataFrame of the same shape as the original, where each element is a boolean value indicating whether the corresponding element is missing (NaN) or not
df.isnull()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9998,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [17]:
#checking data duplicated
df.duplicated

<bound method DataFrame.duplicated of       Row ID         Order ID Order Date  Ship Date       Ship Mode  \
0          1  ES-2017-1311038 2017-02-07 2017-02-11  Standard Class
1          2  ES-2017-1311038 2017-02-07 2017-02-11  Standard Class
2          3  ES-2017-1311038 2017-02-07 2017-02-11  Standard Class
3          4  ES-2017-1311038 2017-02-07 2017-02-11  Standard Class
4          5  ES-2017-1311038 2017-02-07 2017-02-11  Standard Class
...      ...              ...        ...        ...             ...
9995    9996  ES-2014-3780358 2014-11-16 2014-11-19     First Class
9996    9997  ES-2015-5371207 2015-01-25 2015-01-29  Standard Class
9997    9998  ES-2015-5371207 2015-01-25 2015-01-29  Standard Class
9998    9999  ES-2015-5371207 2015-01-25 2015-01-29  Standard Class
9999   10000  ES-2015-5371207 2015-01-25 2015-01-29  Standard Class

     Customer ID      Customer Name      Segment     City    State  \
0       AS-10045     Aaron Smayling    Corporate    Leeds  England
1       AS-10045     Aaron Smayling    Corporate    Leeds  England
2       AS-10045     Aaron Smayling    Corporate    Leeds  England
3       AS-10045     Aaron Smayling    Corporate    Leeds  England
4       AS-10045     Aaron Smayling    Corporate    Leeds  England
...          ...                ...          ...      ...      ...
9995    CC-12100    Chad Cunningham  Home Office   Rovigo   Veneto
9996    GB-14575  Giulietta Baptist     Consumer  Hamburg  Hamburg
9997    GB-14575  Giulietta Baptist     Consumer  Hamburg  Hamburg
9998    GB-14575  Giulietta Baptist     Consumer  Hamburg  Hamburg
9999    GB-14575  Giulietta Baptist     Consumer  Hamburg  Hamburg

             Country   Region       Product ID         Category Sub-Category  \
0     United Kingdom    North  OFF-ST-10000988  Office Supplies      Storage
1     United Kingdom    North  TEC-AC-10004144       Technology  Accessories
2     United Kingdom    North  OFF-LA-10001915  Office Supplies       Labels
3     United Kingdom    North  OFF-ST-10004550  Office Supplies      Storage
4     United Kingdom    North  TEC-AC-10004068       Technology  Accessories
...              ...      ...              ...              ...          ...
9995           Italy    South  OFF-BI-10000346  Office Supplies      Binders
9996         Germany  Central  OFF-BI-10002083  Office Supplies      Binders
9997         Germany  Central  OFF-SU-10003211  Office Supplies     Supplies
9998         Germany  Central  TEC-PH-10001664       Technology       Phones
9999         Germany  Central  OFF-AR-10001228  Office Supplies          Art

                                    Product Name   Sales  Quantity  Discount  \
0                         Fellowes Folders, Blue   79.20         3       0.0
1              SanDisk Numeric Keypad, Bluetooth  388.92         7       0.0
2     Avery Legal Exhibit Labels, 5000 Label Set   35.19         3       0.0
3                   Fellowes Folders, Wire Frame   50.94         2       0.0
4                       Memorex Memory Card, USB  307.44         3       0.0
...                                          ...     ...       ...       ...
9995                   Ibico 3-Hole Punch, Clear   59.82         2       0.0
9996           Acco Hole Reinforcements, Economy    6.66         1       0.0
9997                           Acme Ruler, Steel   96.66         6       0.0
9998             Motorola Office Telephone, VoIP  502.95         7       0.0
9999                Stanley Markers, Water Color  152.28         6       0.0

      Profit
0      39.60
1       0.00
2      16.11
3      13.20
4      73.71
...      ...
9995   23.88
9996    0.57
9997   28.98
9998  221.13
9999   50.22

[10000 rows x 20 columns]>

In [18]:
#remove duplicate rows from a DataFrame
df.drop_duplicates()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,ES-2017-1311038,2017-02-07,2017-02-11,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,OFF-ST-10000988,Office Supplies,Storage,"Fellowes Folders, Blue",79.20,3,0.0,39.60
1,2,ES-2017-1311038,2017-02-07,2017-02-11,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,TEC-AC-10004144,Technology,Accessories,"SanDisk Numeric Keypad, Bluetooth",388.92,7,0.0,0.00
2,3,ES-2017-1311038,2017-02-07,2017-02-11,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,OFF-LA-10001915,Office Supplies,Labels,"Avery Legal Exhibit Labels, 5000 Label Set",35.19,3,0.0,16.11
3,4,ES-2017-1311038,2017-02-07,2017-02-11,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,OFF-ST-10004550,Office Supplies,Storage,"Fellowes Folders, Wire Frame",50.94,2,0.0,13.20
4,5,ES-2017-1311038,2017-02-07,2017-02-11,Standard Class,AS-10045,Aaron Smayling,Corporate,Leeds,England,United Kingdom,North,TEC-AC-10004068,Technology,Accessories,"Memorex Memory Card, USB",307.44,3,0.0,73.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,ES-2014-3780358,2014-11-16,2014-11-19,First Class,CC-12100,Chad Cunningham,Home Office,Rovigo,Veneto,Italy,South,OFF-BI-10000346,Office Supplies,Binders,"Ibico 3-Hole Punch, Clear",59.82,2,0.0,23.88
9996,9997,ES-2015-5371207,2015-01-25,2015-01-29,Standard Class,GB-14575,Giulietta Baptist,Consumer,Hamburg,Hamburg,Germany,Central,OFF-BI-10002083,Office Supplies,Binders,"Acco Hole Reinforcements, Economy",6.66,1,0.0,0.57
9997,9998,ES-2015-5371207,2015-01-25,2015-01-29,Standard Class,GB-14575,Giulietta Baptist,Consumer,Hamburg,Hamburg,Germany,Central,OFF-SU-10003211,Office Supplies,Supplies,"Acme Ruler, Steel",96.66,6,0.0,28.98
9998,9999,ES-2015-5371207,2015-01-25,2015-01-29,Standard Class,GB-14575,Giulietta Baptist,Consumer,Hamburg,Hamburg,Germany,Central,TEC-PH-10001664,Technology,Phones,"Motorola Office Telephone, VoIP",502.95,7,0.0,221.13
9999,10000,ES-2015-5371207,2015-01-25,2015-01-29,Standard Class,GB-14575,Giulietta Baptist,Consumer,Hamburg,Hamburg,Germany,Central,OFF-AR-10001228,Office Supplies,Art,"Stanley Markers, Water Color",152.28,6,0.0,50.22